.campaign-header {
  height: 48px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.cleftHeader {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
}

.branch {
  margin-left: 20px;
  margin-top: 10px;
}

.main {
  color: #17a2b8;
}

.App {
  text-align: left;
  overflow-x: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-margin {
  margin-top: 10px;
}

.app-margin-center {
  margin-top: 5px;
}

.rightHeader {
  text-align: right;
  margin-right: 20px;
}

.rightHeader a {
  color: #17a2b8 !important;
  cursor: pointer;
}

.carousel-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.content-container {
  padding: 30px;
}

.stats {
  float: left;
}

.single-stat {
  color: #17a2b8 !important;
}

.single-stat .comments {
  margin-left: 10px
}

.visually-hidden {
    margin-left: 5px;
}

.login-form {
    width: 100%;
    color: #17a2b8;
}

.login-form-footer {
  text-align: center;
  width: 100%;
}

.login-form-footer .btn{
  width: 100%;
  margin-top: 10px;
}

.login-title {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.trick {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  cursor: pointer;
  color: #17a2b8;
  font-weight: 700;
}

.create-form {
  padding: 50px;
}

.note {
  text-align: center;
}

.form-action {
  float: right;
  padding: 0 50px;
}

.form-action .btn {
  margin: 5px;
}

.detail-container {
  padding: 50px 0;
}

.join-us {
  color: #fff;
}

.account-part .dropdown {
  float: right;
  position: absolute;
  right: 35px;
  top: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
